html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  vertical-align: baseline;
  width: 100%;
}
.hidden {
  display: none !important;
}
nav {
  display: table-cell;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
section#page-container {
  display: table-cell;
  margin: 0;
  padding: 0 0 0 3em;
}
h1 {
  font-weight: 300;
  color: #337fcc;
  font-size: 20px;
  line-height: 1.75;
  padding: 0 0 0 16px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.75;
}

#dropbox-info #dropbox-signout i {
  color: #9c1616;
}
#dropbox-no-info #dropbox-no-identity {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
}
#dropbox-no-info #dropbox-signin i {
  color: #169c16;
}
